<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated projetMde -->
      <package
            uri="http://www.example.org/projetMde"
            class="projet_hamlaoui.ProjetMdePackage"
            genModel="model/projetMde.genmodel"/>
   </extension>

</plugin>
